
build/CMakeFiles/3.20.3/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/19980d0e225a8b392611c6bba486fe68/generate.stamp.rule
build/CMakeFiles/3.20.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.3/CMakeSystem.cmake
build/CMakeFiles/3.20.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.3/VCTargetsPath.txt
build/CMakeFiles/3.20.3/VCTargetsPath.vcxproj
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/concordo.sln
build/Debug/snaze.exe
build/Debug/snaze.ilk
build/Debug/snaze.pdb
build/snaze.dir/Debug/Snake.obj
build/snaze.dir/Debug/SnakeGame.obj
build/snaze.dir/Debug/Snaze.obj
build/snaze.dir/Debug/snaze.tlog/CL.command.1.tlog
build/snaze.dir/Debug/snaze.tlog/CL.read.1.tlog
build/snaze.dir/Debug/snaze.tlog/CL.write.1.tlog
build/snaze.dir/Debug/snaze.tlog/custombuild.command.1.tlog
build/snaze.dir/Debug/snaze.tlog/custombuild.read.1.tlog
build/snaze.dir/Debug/snaze.tlog/custombuild.write.1.tlog
build/snaze.dir/Debug/snaze.tlog/link.command.1.tlog
build/snaze.dir/Debug/snaze.tlog/link.read.1.tlog
build/snaze.dir/Debug/snaze.tlog/link.write.1.tlog
build/snaze.dir/Debug/snaze.tlog/snaze.lastbuildstate
build/snaze.dir/Debug/vc141.pdb
build/snaze.vcxproj
build/snaze.vcxproj.filters
build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
build/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/snaze.dir/Debug/Player.obj
